@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

body .content, .topbar, .navbar > ul {
  margin: 0 auto;
}

.topbar .icon_phone > ul.menu, .topbar .icon_phone > ul.menu li a, .navbar > ul li a, .footer .about, .ad .switch_btn li, .rec_service > .img_list_3 ul li, .rec_service > .img_list_4 ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.topbar .icon_phone > ul.menu li, .navbar > ul li, .footer .about li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  display: inline;
  padding-left: 0px;
  padding-right: 0px;
}
.topbar .icon_phone > ul.menu li:first-child, .navbar > ul li:first-child, .footer .about li:first-child, .topbar .icon_phone > ul.menu li.first, .navbar > ul li.first, .footer .about li.first {
  padding-left: 0;
}
.topbar .icon_phone > ul.menu li:last-child, .navbar > ul li:last-child, .footer .about li:last-child {
  padding-right: 0;
}
.topbar .icon_phone > ul.menu li.last, .navbar > ul li.last, .footer .about li.last {
  padding-right: 0;
}

body .content, .topbar .icon_phone > ul.menu, .navbar, .navbar > ul, .services li, .footer .about, .ad .switch_btn, .four_reason .content > .text, .four_reason .content > .text ul, .four_reason .content > .text ul li, .four_reason .content > .media {
  *zoom: 1;
}
body .content:after, .topbar .icon_phone > ul.menu:after, .navbar:after, .navbar > ul:after, .services li:after, .footer .about:after, .ad .switch_btn:after, .four_reason .content > .text:after, .four_reason .content > .text ul:after, .four_reason .content > .text ul li:after, .four_reason .content > .media:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.topbar .logo, .services li, .services li img, .ad .switch_btn, .four_reason .content > .text, .four_reason .content > .text ul li, .four_reason .content > .text ul li img, .four_reason .content > .media {
  float: left;
  display: inline;
}

.topbar .icon_phone {
  float: right;
  display: inline;
}

body {
  min-width: 1024px;
  width: auto;
  _width: 1024px;
  font-family: arial, "Microsoft Yahei", "微软雅黑";
}
body a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
body a:active, body a:focus {
  outline: none;
}
body .content {
  width: 63.75em;
  position: relative;
}

.ui-value {
  color: #fe4017;
}

/**TOP bar STYLE------*/
.topbar {
  height: 4.1875em;
  /*em(67px)*/
  width: 63.75em;
  /*em(1020px)*/
  line-height: 4.1875em;
}
.topbar .logo {
  width: 43.25em;
  height: 100%;
}
.topbar .icon_phone {
  height: 100%;
  width: 20.3em;
  background: #fff url('../images/bg_contact.png?1442377385') no-repeat fixed right top;
  -moz-background-size: 10.6875em, 4.1875em;
  -o-background-size: 10.6875em, 4.1875em;
  -webkit-background-size: 10.6875em, 4.1875em;
  background-size: 10.6875em, 4.1875em;
}
.topbar .icon_phone > ul.menu li a {
  padding: 0px 7px;
  border-left: 1px solid #eaeaea;
  height: 1.8em;
  font-size: 0.75em;
  line-height: 1.8em;
}
.topbar .icon_phone > ul.menu li:first-child {
  margin-left: 7px;
}
.topbar .icon_phone > ul.menu li:first-child a {
  border-left: 0;
}

.navbar {
  background-color: #fb8300;
  border-bottom: 1px solid #fff;
}
.navbar > ul {
  display: inline-block;
  width: 63.75em;
}
.navbar > ul {
  display: block;
}
.navbar > ul li {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
.navbar > ul li:active, .navbar > ul li:focus {
  outline: none;
}
.navbar > ul li a {
  color: #fff;
  font-weight: bolder;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  margin-left: 34px;
  padding: 0px 20px;
}
.navbar > ul li a.first {
  margin-left: 0px;
}
.navbar > ul li a.active {
  background-color: #d76a00;
}

.advertise_img {
  width: 100%;
  margin-top: 90px;
}
.advertise_img img {
  height: 90px;
  width: 100%;
}

.services {
  width: 100%;
  margin-top: 40px;
}
.services li {
  width: 338px;
}
.services li img {
  width: 78px;
  height: 78px;
  margin-right: 12px;
}
.services li h1 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.8em;
}
.services li span {
  font-size: 0.75em;
  line-height: 1.5em;
}

.footer {
  border-top: 1px dotted #dfdfdf;
  margin-top: 39px;
  text-align: center;
}
.footer .about {
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  margin-top: 32px;
}
.footer .about li {
  border-right: 1px solid #333333;
}
.footer .about li a {
  color: #3e85aa;
  margin: 0px 7px 0 7px;
  font-size: 14px;
}
.footer .about li.last {
  border-right: 0px;
}
.footer .copyright {
  height: 37px;
  text-align: center;
  display: block;
  line-height: 37px;
  vertical-align: middle;
  background-color: #373636;
  color: #666666;
  margin-top: 20px;
}

.ad {
  position: relative;
  width: 100%;
}
.ad .switch_btn {
  z-index: 1;
  position: absolute;
  margin-top: 300px;
}
.ad .switch_btn li {
  width: 15px;
  height: 15px;
  background-color: #fff;
  cursor: pointer;
}
.ad .ad_img img {
  width: 100%;
  height: 334px;
}

.rec_service > .img_list_3 ul, .rec_service > .img_list_4 ul {
  margin-top: 32px;
}
.rec_service > .img_list_3 ul.first_row, .rec_service > .img_list_4 ul.first_row {
  margin-top: 30px;
}
.rec_service > .img_list_3 ul li, .rec_service > .img_list_4 ul li {
  margin-right: 32px;
}
.rec_service > .img_list_3 ul li.last, .rec_service > .img_list_4 ul li.last {
  margin-right: 0px;
}

.rec_service {
  width: 100%;
  margin-top: 30px;
}
.rec_service > h1.title {
  border-bottom: 1px solid #f3f3f3;
  text-align: center;
  font-weight: bold;
  height: 46px;
  width: 100%;
  font-size: 1.125em;
  line-height: 2.874em;
}
.rec_service > h1.title .more {
  font-size: 12px;
  padding: 0px 8px;
}
.rec_service > .img_list_3 ul li img {
  width: 315px;
  height: 233px;
}
.rec_service > .img_list_4 ul li img {
  width: 227px;
  height: 202px;
}
.rec_service > .img_list_4 .img_title {
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
  top: 166px;
  left: 0px;
  font-weight: bold;
  height: 3em;
  line-height: 3em;
  font-size: 0.75em;
  text-align: center;
  vertical-align: baseline;
  width: 228px;
}

.four_reason {
  width: 100%;
  margin-top: 30px;
}
.four_reason > h1 {
  text-align: left;
  font-weight: bold;
  height: 46px;
  width: 100%;
  font-size: 1.125em;
  line-height: 2.874em;
}
.four_reason .content > .text {
  width: 750px;
}
.four_reason .content > .text ul {
  padding-top: 30px;
}
.four_reason .content > .text ul li img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}
.four_reason .content > .text ul li h3 {
  font-weight: bold;
  font-size: 0.875em;
  line-height: 1.5em;
}
.four_reason .content > .text ul li span {
  font-size: 0.75em;
  line-height: 1.5em;
}
.four_reason .content > .text ul.first {
  padding-top: 10px;
}
.four_reason .content > .media .video {
  width: 268px;
  height: 190px;
}
.four_reason .content > .media h2 {
  display: block;
  height: 36px;
  background-color: #f4f5f7;
  line-height: 36px;
  text-align: center;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
}
