%align-center{
  margin: 0 auto;
}

%inline-block{
  @include inline-block();
}

%horizontal-list-item{
  @include horizontal-list-item(0px);
}

%clearfix{
  @include legacy-pie-clearfix;
}

%float-left{
  @include float(left);
}

%float-right{
  @include float(right);
}

%btn{
  height: 40px;
  background-color: $menu-btn-color;
  padding: 0px 20px;
  @include border-radius(6px);
  border:0;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
}