$base-font-size : 16px;
$base-line-height : 24px;
$browser-minimum-versions : ("ie": "6");
$divider-line-color : #eaeaea;
$font-color : #a3a2a2;
$menu-btn-color:#fb8300;
$app-width : 63.75em;
$border-color : $divider-line-color;
$bg-line-color: #6bc2fa;
$my-font : arial, 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ';