@import "compass/reset-legacy";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";
@import "compass/layout";

@import "variable";
@import "mixin";

@import "common";
@import "topbar";
@import "navbar";
@import "advertise";
@import "footer";
@import "activeplan";

.gobar{
  @extend %clearfix;
  width: 100%;
  margin-top: 17px;
  background-color: #fff;

  &.fixed{
    position: absolute;
    float: left;
    top: 584px;
    left: 0px;
    z-index: 1;
  }

  >ul {
    @extend %clearfix;

    >li{
      @extend %horizontal-list-item;
      @extend %clearfix;
      background:#ffffff image-url("go_btn.png") no-repeat;
      font-weight: bold;
      color:#fff;

      a{
        @extend %inline-block;
        width: 105px;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

      &.active{
        background:#ffffff image-url("go_btn_active.png") no-repeat;
        color: $bg-line-color;
      }

      &.last{
        background:none;
        height: 39px;
        width: $app-width - 32.8125 ;
        border-bottom: 1px solid $bg-line-color;
      }
    }
  }

}

.go_detailbar{
  margin-top: 50px;
  width: 100%;

  .title{
    background-color: $border-color;

    span{
      @extend %inline-block;
      width: 105px;
      height: 40px;
      background-color: $bg-line-color;
      line-height: 40px;
      text-align: center;
      color:#fff;
      font-weight: bold;
    }
  }

  > .arrow{
    height: 10px;
    background: #fff image-url("arrow.png") no-repeat;
  }
}

.go_detail{
  margin-top:14px;

  > .ui-star-1{
    margin-left:100px;
    list-style:disc inside;

    li{
      font-size: 0.87em;
      line-height: 2em;
    }
  }

  > .ui-list-1{
    margin-left:100px;
    list-style:decimal inside;

    li{
      font-size: 0.87em;
      line-height: 2em;
    }
  }

  > img{
    width: 100%;
    height: auto;
  }

  .gosubbar{
    height: 40px;
    width: 100%;
    font-weight: bold;
    background-color: $divider-line-color;

    > span{
      @extend %inline-block;
      width: 105px;
      margin: 10px 0px 10px 7px;
      height: 20px;
      line-height: 20px;
      padding-left: 10px;
      border-left: 5px solid $bg-line-color;
    }
  }
}
