$base-font-size : 16px;
$base-line-height : 24px;
$browser-minimum-versions : ("ie": "6");
$divider-line-color : #eaeaea;
$font-color : #a3a2a2;
$menu-btn-color:#fb8300;
$app-width : 63.75em;
$border-color : $divider-line-color;
$bg-line-color: #6bc2fa;
$my-font : arial, 'Microsoft Yahei', 'Î¢ÈíÑÅºÚ';

@import "compass/reset-legacy";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";
@import "compass/layout";

body{
  @include min-width(1024px);
  font-family: $my-font;

  a{
    @include unstyled-link();
  }
}

.ui-value{
  color:#fe4017;
}

%align-center{
  margin: 0 auto;
}

%inline-block{
  @include inline-block();
}

%horizontal-list-item{
  @include horizontal-list-item(0px);
}

%clearfix{
  @include legacy-pie-clearfix;
}

%float-left{
  @include float(left);
}

%float-right{
  @include float(right);
}

%btn{
  height: 40px;
  background-color: $menu-btn-color;
  padding: 0px 20px;
  @include border-radius(6px);
  border:0;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
}

/**TOP bar STYLE------*/
.topbar {
  @extend %align-center;
  height: 4.1875em; /*em(67px)*/
  width: $app-width; /*em(1020px)*/;
  line-height: 4.1875em;

  .logo {
    width: 43.25em /*em(692px)*/;
    height: 100%;
    @extend %float-left;
  }

  .icon_phone{
    @extend %float-right;
    height: 100%;
    width: 20.3em;
    background: #fff url("../images/bg_contact.png") no-repeat fixed right top;
    @include background-size(10.6875em,4.1875em);

    > ul.menu {
      @extend %inline-block;
      @extend %clearfix;

      li {
        @extend %horizontal-list-item;

        a {
          @extend %inline-block;
          padding: 0px 7px;
          border-left: 1px solid $divider-line-color;
          height: 1.8em;
          font-size: 0.75em;
          line-height: 1.8em;
        }
      }

      li:first-child {
        margin-left: 7px;

        a {
          border-left: 0;
        }
      }

    }
  }

}

.navbar{
  background-color: $menu-btn-color;
  @extend %clearfix;

  > ul{
    @extend %align-center;
    @include has-layout-block();
    @extend %clearfix;
    width: $app-width;

    li{
      @include unstyled-link();
      @extend %horizontal-list-item;

      a{
        @extend %inline-block;
        color:#fff;
        font-weight: bolder;
        height: 40px;
        line-height: 40px;
        font-size: 1em;
        margin-left: 34px;
        padding: 0px 20px;

        &.first{
          margin-left: 0px;
        }

        &.active{
          background-color: #d76a00;
        }
      }
    }
  }
}

.content{
  @extend %align-center;
  width: $app-width;
  @extend %clearfix;
  position: relative;
}

.img_scroll_panel{
  @extend %clearfix;
  border:1px solid $border-color;
  width: 100%;

  margin-top: 17px;

  .img_card{
    width: 500px;
    margin: 5px;
    @extend %float-left;

    .screen{
      img{
        width: 100%;
        height: 335px;
      }
    }

    .switch_bar{
      width: 100%;
      @extend %clearfix;
      margin-top: 10px;

      .switch_left_btn{
        @extend %clearfix;
        @extend %float-left;

        a{
          @extend %inline-block;
          cursor: pointer;
          width: 30px;
          height: 70px;
          background: #fff url("../images/switch_left_btn.png") no-repeat;
        }
      }

      .switch_btn{
        @extend %float-left;
        @extend %clearfix;

        li{
          @include unstyled-link();
          @extend %horizontal-list-item;

          a{
            @extend %inline-block;
            cursor: pointer;

            img{
              width: 100px;
              height: 70px;
              margin-left:10px;

              &.first{
                margin-left: 0px;
              }

              &.active{
                border: 1px solid $menu-btn-color;
                width: 98px;
                height: 68px;
              }
            }
          }

        }
      }

      .switch_right_btn{
        @extend %clearfix;
        @extend %float-right;

        a{
          @extend %inline-block;
          cursor: pointer;
          width: 30px;
          height: 70px;
          background: #fff url("../images/switch_right_btn.png") no-repeat;
        }
      }

    }
  }

  .detail{
    margin: 5px;
    @extend %float-left;
    @extend %clearfix;
    width: 31.25em;

    .title{
      font-weight: bold;
    }

    .top{
      height: 335px;

      >.fit, >.desc, >.book{
        margin: 10px 0px 0px 10px;

        > ul{
          display: block;
          @extend %clearfix;

          > li{
            @extend %horizontal-list-item;
            font-size: 1em;
            line-height: 2.0em;
          }
        }
      }
    }

    >.book{
      height: 70px;
      background-color: $border-color;

      > span{
        margin-left: 20px;
        width: 340px;
        @extend %inline-block;
        line-height: 70px;
        vertical-align: middle;
      }

      button{
        @extend %btn;
        @extend %inline-block;
      }
    }

  }
}

.gobar{
  @extend %clearfix;
  width: 100%;
  margin-top: 17px;

  &.fixed{
    position: absolute;
    float: left;
    top: 584px;
    left: 0px;
    z-index: 1;
  }

  >ul {
    @extend %clearfix;

    >li{
      @extend %horizontal-list-item;
      @extend %clearfix;
      background:#ffffff url("../images/go_btn.png") no-repeat;
      font-weight: bold;
      color:#fff;

      a{
        @extend %inline-block;
        width: 105px;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

      &.active{
        background:#ffffff url("../images/go_btn_active.png") no-repeat;
        color: $bg-line-color;
      }

      &.last{
        background:none;
        height: 39px;
        width: $app-width - 32.8125 ;
        border-bottom: 1px solid $bg-line-color;
      }
    }
  }

}

.go_detailbar{
  margin-top: 50px;
  width: 100%;

  .title{
    background-color: $border-color;

    span{
      @extend %inline-block;
      width: 105px;
      height: 40px;
      background-color: $bg-line-color;
      line-height: 40px;
      text-align: center;
      color:#fff;
      font-weight: bold;
    }
  }

  > .arrow{
    height: 10px;
    background: #fff url("../images/arrow.png") no-repeat;
  }
}

.go_detail{
  margin-top:14px;

  > .ui-star-1{
    margin-left:100px;
    list-style:disc inside;

    li{
      font-size: 0.87em;
      line-height: 2em;
    }
  }

  > .ui-list-1{
    margin-left:100px;
    list-style:decimal inside;

    li{
      font-size: 0.87em;
      line-height: 2em;
    }
  }

  > img{
    width: 100%;
    height: auto;
  }

  .gosubbar{
    height: 40px;
    width: 100%;
    font-weight: bold;
    background-color: $divider-line-color;

    > span{
      @extend %inline-block;
      width: 105px;
      margin: 10px 0px 10px 7px;
      height: 20px;
      line-height: 20px;
      padding-left: 10px;
      border-left: 5px solid $bg-line-color;
    }
  }
}

.advertise_img{
  width: 100%;
  margin-top: 90px;

  img{
    height: 90px;
    width: 100%;
  }
}

.services{
  width: 100%;
  margin-top: 40px;

  li{
    @extend %float-left;
    @extend %clearfix;
    width: 338px;

    img{
      @extend %inline-block;
      @extend %float-left;
      width: 78px;
      height: 78px;
      margin-right: 12px;
    }

    h1{
      font-weight: bold;
      font-size: 1em;
      line-height: 1.8em;
    }

    span{
      font-size: 0.75em;
      line-height: 1.5em;
    }
  }
}

.footer{
  border-top: 1px dotted #dfdfdf;
  margin-top: 39px;
  text-align: center;

  .about{
    @extend %inline-block;
    @extend %clearfix;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    margin-top: 32px;

    li{
      @extend %horizontal-list-item;
      border-right: 1px solid #333333;

      a{
        color: #3e85aa;
        margin: 0px 7px 0 7px;
        font-size: 14px;
      }

      &.last{
        border-right: 0px;
      }
    }
  }

  .copyright{
    height: 37px;
    text-align: center;
    display: block;
    line-height: 37px;
    vertical-align: middle;
    background-color: #373636;
    color: #666666;
    margin-top: 20px;
  }

}
