@import "compass/reset-legacy";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";
@import "compass/layout";

@import "variable";
@import "mixin";

@import "common";
@import "topbar";
@import "navbar";
@import "advertise_img";
@import "footer";

.img_scroll_panel{
  @extend %clearfix;
  border:1px solid $border-color;
  width: 100%;

  margin-top: 17px;

  .img_card{
    width: 500px;
    margin: 5px;
    @extend %float-left;

    .screen{
      img{
        width: 100%;
        height: 335px;
      }
    }

    .switch_bar{
      width: 100%;
      @extend %clearfix;
      margin-top: 10px;

      .switch_left_btn{
        @extend %clearfix;
        @extend %float-left;

        a{
          @extend %inline-block;
          cursor: pointer;
          width: 30px;
          height: 70px;
          background: #fff image-url("switch_left_btn.png") no-repeat;
        }
      }

      .switch_btn{
        @extend %float-left;
        @extend %clearfix;

        li{
          @include unstyled-link();
          @extend %horizontal-list-item;

          a{
            @extend %inline-block;
            cursor: pointer;

            img{
              width: 100px;
              height: 70px;
              margin-left:10px;

              &.first{
                margin-left: 0px;
              }

              &.active{
                border: 1px solid $menu-btn-color;
                width: 98px;
                height: 68px;
              }
            }
          }

        }
      }

      .switch_right_btn{
        @extend %clearfix;
        @extend %float-right;

        a{
          @extend %inline-block;
          cursor: pointer;
          width: 30px;
          height: 70px;
          background: #fff image-url("switch_right_btn.png") no-repeat;
        }
      }

    }
  }

  .detail{
    margin: 5px;
    @extend %float-left;
    @extend %clearfix;
    width: 31.25em;

    .title{
      font-weight: bold;
    }

    .top{
      height: 335px;

      >.fit, >.desc, >.book{
        margin: 10px 0px 0px 10px;

        > ul{
          display: block;
          @extend %clearfix;

          > li{
            @extend %horizontal-list-item;
            font-size: 1em;
            line-height: 2.0em;
          }
        }
      }
    }

    >.book{
      height: 70px;
      background-color: $border-color;

      > span{
        margin-left: 20px;
        width: 340px;
        @extend %inline-block;
        line-height: 70px;
        vertical-align: middle;
      }

      button{
        @extend %btn;
        @extend %inline-block;
      }
    }

  }
}

.gobar{
  @extend %clearfix;
  width: 100%;
  margin-top: 17px;

  &.fixed{
    position: absolute;
    float: left;
    top: 584px;
    left: 0px;
    z-index: 1;
  }

  >ul {
    @extend %clearfix;

    >li{
      @extend %horizontal-list-item;
      @extend %clearfix;
      background:#ffffff image-url("go_btn.png") no-repeat;
      font-weight: bold;
      color:#fff;

      a{
        @extend %inline-block;
        width: 105px;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

      &.active{
        background:#ffffff image-url("go_btn_active.png") no-repeat;
        color: $bg-line-color;
      }

      &.last{
        background:none;
        height: 39px;
        width: $app-width - 32.8125 ;
        border-bottom: 1px solid $bg-line-color;
      }
    }
  }

}

.go_detailbar{
  margin-top: 50px;
  width: 100%;

  .title{
    background-color: $border-color;

    span{
      @extend %inline-block;
      width: 105px;
      height: 40px;
      background-color: $bg-line-color;
      line-height: 40px;
      text-align: center;
      color:#fff;
      font-weight: bold;
    }
  }

  > .arrow{
    height: 10px;
    background: #fff image-url("arrow.png") no-repeat;
  }
}

.go_detail{
  margin-top:14px;

  > .ui-star-1{
    margin-left:100px;
    list-style:disc inside;

    li{
      font-size: 0.87em;
      line-height: 2em;
    }
  }

  > .ui-list-1{
    margin-left:100px;
    list-style:decimal inside;

    li{
      font-size: 0.87em;
      line-height: 2em;
    }
  }

  > img{
    width: 100%;
    height: auto;
  }

  .gosubbar{
    height: 40px;
    width: 100%;
    font-weight: bold;
    background-color: $divider-line-color;

    > span{
      @extend %inline-block;
      width: 105px;
      margin: 10px 0px 10px 7px;
      height: 20px;
      line-height: 20px;
      padding-left: 10px;
      border-left: 5px solid $bg-line-color;
    }
  }
}
