@import "compass/reset-legacy";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";
@import "compass/layout";

@import "variable";
@import "mixin";

@import "common";
@import "topbar";
@import "navbar";
@import "footer";
@import "ad";
@import "advertise";
@import "pagination";
@import "activeplan";

.active_plan_container{
  .img_scroll_panel{

    .detail{
      .top{
        height: auto;

        .fit,.desc{
          color:#888888;
          font-size: 0.875em;
          line-height: 1.5em;
        }
      }
    }
  }
}

.recommend{
  width: 100%;
  @extend %clearfix;

  > li{
    @extend %horizontal-list-item;
    width: 339px;
    text-align: center;

    img{
      width: 329px;
      height: 100px;
    }

    &.first{
      text-align: left;
    }

    &.last{
      text-align: right;
    }
  }
}

.tags {
  margin-top: 25px;
  width: 100%;

  > .title {
    width: 100%;
    background-color: #f6f6f6;

    span {
      @extend %inline-block;
      padding: 0 10px;
      background-color: #fb8300;
      height: 26px;
      color: #ffffff;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .tag_row {
    border: 1px solid #f1f1f1;
    border-top: none;
    padding: 9px 0px 9px 0px;

    &.first{
      border-top: 1px solid #f1f1f1;
    }

    > span{
      @extend %inline-block;
      line-height: 16px;
      vertical-align: middle;
      font-size: 14px;

      > img{
        @extend %inline-block;
        margin-left: 18px;
        margin-right: 15px;
        width: 24px;
        height: 16px;
      }
    }
  }

  .tag_items {
    @extend %inline-block;

    > li {
      padding: 0px 7px 0px 7px;
      height: 16px;
      float: left;
      line-height: 16px;
      vertical-align: middle;
      font-size: 14px;
    }

    >li[active=true] {
      background-color: #fe3000;

      a{
        color: #ffffff;
        font-weight: bolder;
      }
    }
  }

}

